body {
    text-align: center;
    background-color: lightgreen;
    background-image: url("celebration.webp");
    /*
    bonus question 
    */
}

p {
    text-align: center;
    font-size: large;
}